<!DOCTYPE html>
<html>
<head>
<title>Booking Success</title>

<style>
body{
    background:#0b0b0b;
    color:#d4af37;
    font-family:Arial;
    text-align:center;
}

.box{
    margin-top:150px;
}

a{
    color:#d4af37;
    text-decoration:none;
    border:1px solid #d4af37;
    padding:10px 20px;
    display:inline-block;
    margin-top:20px;
}
</style>
</head>

<body>

<div class="box">

<h1>✅ Your Order is Successfully Booked!</h1>

<p>Thank you for choosing our service.</p>

<a href="/booking">Book Another Event</a>  
<br><br>
<a href="/view">View All Bookings (Admin)</a>

</div>

</body>
</html>
